/* default */
/* faq-btn */
.btn{
    padding: 9px 17px !important;
}
.btn-primary-faq{
    background-color: #e73c3e !important;
    border: #e73c3e;
    padding:9px 17px;
    transition: .3s;
    position: relative;
    border-radius: 5px;
    z-index: 1;
    overflow: hidden;
    border: none !important;
    color: #fff !important;

}
.btn-primary-faq::after{
    content: "";
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    border-color: black;
    border-radius: 5px;
    z-index: -1;
    transition:.4s ease-in-out ;
    overflow: hidden;
}
.btn-primary-faq:hover{
    border-color: black;
    overflow: hidden;
}
.btn-primary-faq:hover::after{
    width: 100%;
}


/* tab section css style */
.faq-nav{
    display: flex;
    justify-content: space-around;
}
.tab-btn{
    background-color: black;
    color: #fff;
    padding: 10px 40px;
    border-radius: 20px;

}
.nav-link.active .tab-btn{
    color: #fff;
    background-color: #e73c3e;
    transition: .4s;
}


/* accordion */
.accordion-button:focus{
    z-index: 3;
    border-color: #e73c3e !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}
.accordion-button:not(.collapsed){
    color:black !important;
}
.accordion-item {
    background-color: #fff;
    border: 1px solid transparent !important;
  }