.condition-right{}
.condition-right ul{
    padding:30px 20px;
    background: #fff;
    box-shadow:  0 2px 28px 0 rgba(0, 0, 0, .1);
}
.condition-right ul li{
    list-style: none;
}
.condition-right ul li a{
    text-decoration: none;
    color: #111;
    background-color: #fff;
    display: block;
    position: relative;
    padding: 16px 29px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #eeeeee;
    transition: .4s all ease-in-out;
}
.condition-right ul li a:hover{
    color: #fff;
    background-color: #e73c3e;
    border-color: #e73c3e;
}
.condition-right ul li:hover a::before{
    background: #fff;
}

.condition-right ul li a::before {
    content: "";
    height: 5px;
    width: 5px;
    position: absolute;
    left: 15px;
    right: 0;
    top: 50%;
    background: #e73c3e;
    border-radius: 50%;
    transition: .4s all ease-in-out;
}
.term-active{
    color: #fff !important;
    background-color: #e73c3e !important;
    border-color: #e73c3e !important;
}
.condition-right ul .terms-active a::before{
    background: #fff;
}

